In [1]:
print("Dinesh")

Dinesh

In [2]:
print("Dinesh")
print("Ramesh")

Dinesh
Ramesh

In [3]:
print(3+5)

8

In [4]:
print("Dinesh","Ramesh")

Dinesh Ramesh

In [6]:
print("Dinesh", end="     ")
print("Ramesh")

Dinesh     Ramesh

In [7]:
print("Dinesh","Ramesh", sep="|")

Dinesh|Ramesh

In [8]:
x = 100
y = 20
z = x + y
print(z)

120

In [9]:
name = "janani"
age = 22
print("My name is",name,"my age is",age)

My name is janani my age is 22

In [10]:
# format method
print("My name is {} my age is {}".format(name,age))

My name is janani my age is 22

In [11]:
print("My name is {} my age is {}".format(age,name))

My name is 22 my age is janani

In [12]:
print("My name is {1} my age is {0}".format(age,name))

My name is janani my age is 22

In [13]:
# F string method - 
print(f"My name is {name} my age is {age}")

My name is janani my age is 22

In [15]:
city_name = "Chennai"
print(f"City Name: {city_name}")

City Name: Chennai

In [16]:
temperature = 25
print(f"Temperature: {temperature}C")

Temperature: 25C

In [17]:
carbon_footprint = 500
is_sustainable = carbon_footprint < 400
print(f"is_sustainable : {is_sustainable}")

is_sustainable : False

In [20]:
weekly_temperature = [25,27,28,26,24,30,29]
print(f"Weekly Temperatures: {weekly_temperature}")

Weekly Temperatures: [25, 27, 28, 26, 24, 30, 29]

In [21]:
# List - mutable
# Tuples - Immutable
weekly_temperature = [25,27,28,26,24,30,29]
weekly_temperature[4] = 29
print(weekly_temperature)

[25, 27, 28, 26, 29, 30, 29]

In [22]:
weekly_temperature = (25,27,28,26,24,30,29)
weekly_temperature[4] = 29
print(weekly_temperature)

TypeError: 'tuple' object does not support item assignment

In [23]:
city_data = {
    "name": "City A",
    "temperature": 25,
    "carbon_footprint": 500.75,
    "is_sustainable": False
}
# Print the dictionary
print(f"City Data: {city_data}")

City Data: {'name': 'City A', 'temperature': 25, 'carbon_footprint': 500.75, 'is_sustainable': False}

In [26]:
city_data["name"] = "Chennai"
city_data

{'name': 'Chennai',
 'temperature': 25,
 'carbon_footprint': 500.75,
 'is_sustainable': False}

In [ ]:
# Assign multiple variables at once
city_name, temperature, carbon_footprint = "City B", 30, 350.50

# Print the values
print(f"City Name: {city_name}, Temperature: {temperature}°C, Carbon Footprint: {carbon_footprint} kg CO2")

In [1]:
# Sample climate dataset
climate_data = [
    {"city": "City A", "temperature": 25, "carbon_footprint": 500},
    {"city": "City B", "temperature": 30, "carbon_footprint": 350},
    {"city": "City C", "temperature": 22, "carbon_footprint": 600},
    {"city": "City D", "temperature": 15, "carbon_footprint": 200},
    {"city": "City E", "temperature": 28, "carbon_footprint": 450},
]

# High temperature threshold (cities above this temperature will be selected)
high_temp_threshold = 26
high_temp_cities = [city for city in climate_data if city['temperature'] > high_temp_threshold]

high_temp_cities

[{'city': 'City B', 'temperature': 30, 'carbon_footprint': 350},
 {'city': 'City E', 'temperature': 28, 'carbon_footprint': 450}]

In [2]:
print("Cities with high temperatures (> 26°C):")
for city in high_temp_cities:
    print(f"{city['city']} - {city['temperature']}°C")

Cities with high temperatures (> 26°C):
City B - 30°C
City E - 28°C

In [3]:
# Using loops to Calculate Average Carbon FootPrint

total_carbon = 0
for city in climate_data:
    total_carbon += city['carbon_footprint']

avg_carbon_footprint = total_carbon/ len(climate_data)

print("Average carbon footprint", avg_carbon_footprint)

Average carbon footprint 420.0

In [5]:
threshold = 400
sustainable_cities = list(filter(lambda city: city['carbon_footprint'] <threshold, climate_data))
print("sustainable cities : ")
for city in sustainable_cities:
    print(f"{city['city']} - {city['carbon_footprint']} kg CO2")

sustainable cities :
City B - 350 kg CO2
City D - 200 kg CO2

In [10]:
def carbon_calculator(energy_consumption, emission_factor):

    return energy_consumption * emission_factor

result = carbon_calculator(1000, 0.475) + 50

In [8]:
result

525.0

In [17]:
# Functions with arbitary arguments
def total_consumption(*values):
    total_consumption = 0
    for i in values:
        total_consumption += i
    return total_consumption
total_consumption(1000,200,300)

1500

In [18]:
# Functions with Key-word arguments
def energy_resources(**kwargs):
    return kwargs
energy_resources(name = "Solar", energy_consumption = 1000)

{'name': 'Solar', 'energy_consumption': 1000}

In [19]:
class Students:
    pass

In [21]:
class Students:
    def Learning(self):
        print("We are learning")

In [26]:
class Students:
    def Learning(self):
        print("I am learning")
student1 = Students()
student1.Learning()

I am learning

In [33]:
class Students:

    def __init__(self, name, age):
        self.name = name
        self.age  = age
    def Learning(self):
        print("I am learning")
    def Playing(self):
        print("I am Playing")
student1 = Students("Dinesh", 22)
student1.Learning()

I am learning

In [30]:
student1.name

'Dinesh'

In [31]:
student1.age

22

In [35]:
student2 = Students("Manoranjan", 22)
student2.Playing()

I am Playing

In [18]:
class Bank:
    total_bal = 0 # Class Variable
    cust_list = [] # Class Variable

    def __init__(self, name, acc_num, ini_bal = 1000):
        self.name = name
        self.acc_num = acc_num
        self.ini_bal = ini_bal

class Saving(Bank):

    def __init__(self, name, acc_num, pan_num, balance = 0, ini_bal = 1000):

        super().__init__(name, acc_num, ini_bal = 1000)
        self.pan_num = pan_num
        print(f"Hello Mr. {self.name}")
        print(f"You have successfully created a account with our HDFC Bank")
        self.balance = balance
        self.balance += ini_bal
        print(f"Your balance available is now {self.balance}")
        Bank.total_bal += self.balance
        Bank.cust_list.append(self.name)

    def deposit(self, money):
        self.balance += money
        Bank.total_bal += money
        print(f"Hello Mr. {self.name} you have deposited {money} in your AC")
        print(f"Your available balance is {self.balance}")

    def withdraw(self, money):
        self.balance -= money
        Bank.total_bal -= money
        print(f"Hello Mr. {self.name} you have withdrawn {money} from your AC")

    def __del__(self):
        print("Closing your account in few seconds....")
        
        

customer1 = Saving("Dinesh",1234,"BWJPR7895")

Hello Mr. Dinesh
You have successfully created a account with our HDFC Bank
Your balance available is now 1000

In [19]:
customer1.deposit(1500)

Hello Mr. Dinesh you have deposited 1500 in your AC
Your available balance is 2500

In [20]:
customer1.withdraw(2000)

Hello Mr. Dinesh you have withdrawn 2000 from your AC

In [21]:
customer1.balance

500

In [26]:
del customer1

In [27]:
customer1.name

NameError: name 'customer1' is not defined

In [17]:
customer1